/* root design */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn{
    color: white;
    background-color: #27cd77;
    padding: 7px 20px;
    border: none;
    margin: 5px 0;
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
}
.black_btn{
    background-color: rgba(0, 0, 0, 0.87);
}
/* root design */



/* hero area */
header{
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
nav .logo img{
    padding-left:15px ;
    width: 80%;
}
.nav-toggler{
    border: none;
    background-color: transparent;
}
.toggler-open{
    display: block !important;
    transition: display 2s ;
}

.nav-toggler  i{
    height:50px;
    width:50px;
}
.link__container .nav__link{
    text-align: center;
    display: none;
}
.link__container .nav__link ul {
    padding: 0;
    list-style-type:none;
}
.link__container .nav__link li{
    padding: 10px 0px;
    font-size: 17px;
}
.link__container .nav__link a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.697);
}
a:is(:link,:active,:visited).active{
    color: #27cd77;
}
.nav__right{
    visibility: hidden;
}

.card__info{
    text-align: center;
    padding-bottom: 80px;
}
.card__info h1{
    color: #27cd77;
    font-weight: 400;
    font-size: 30px;
}
.card__info h1 > span{
    color: rgba(0, 0, 0, 0.808);font-weight: 400;
    font-size: 40px;
}
.card__info p{
    padding: 15px 10px 10px;
}
.img__box{
    padding-top: 80px;
    background-color: #27cd77;
}
.card__img {
    width: 250px;
    margin: 0 auto;
}
.carousel__box{
    position: relative;
}
.play__button{
    position: absolute;
    bottom: 43%;
    left: 42%;
    border: 0px solid #27cd77;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #ffffff;
    animation: animate 1s linear infinite;

}
@keyframes animate {

    0% {
        outline: 1px solid #27cd77;
        transition: border-width 0.1s ease;
    }
    100% {
        outline: 15px solid #27cd77;
        transition: border-width 0.1s ease-out;
    }
}
.play__button img {
    height: 20px;
    width: 15px;
}
/* hero area */

/* about section design */
.about__container{
    padding-top: 90px;
    padding-bottom: 90px;
    margin-left: 20px;
    margin-right: 20px;
}
.details__box{
    margin-bottom: 50px;
}
.details__box h2{
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: sans-serif;
    position: relative;
}
.details__box h2::before{
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    top: 50%;
    right: -5px;
    background-color: #24d278;
    transform: translate(100%, -50%);
}
.details__box p {
    margin-top: 20px;
    margin-bottom: 17px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.716);
}
.details__box .btn {
    margin-top: 20px;
}
.details__img img{
    width: 100%;
}
/* about section design */

/* categories section start*/
.categories{
    padding: 50px 20px;
    background-color: #f4f5f7;
}
.categories h2{
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: sans-serif;
    position: relative;    
}
.categories h2::before{
    content: "";
    width: 40px;
    height: 3px;
    position: absolute;
    top: 50%;
    right: -5px;
    background-color: #24d278;
    transform: translate(100%, -50%);
}
.tab__container{
    margin-top: 20px;
}
.tab__box{
    padding: 25px 30px ;
    display: flex;
    justify-content: space-between;
}
.tab__number{
    display: flex;
    justify-content: start;
    justify-items: center;
}
.tab__number h5{
    color: #24d278;
    margin-top: 5px;
    font-weight: 400;
}
.tab__box hr{
    margin-left: 5px;
    width: 80px;
    height: 1.5px;
    border: none;
    background-color:#24d278 ;
}
.tab__box > h5{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.718);
}

.trending_img_box{
    margin-top: 50px;
    display: flex;
    background-color: #24d278;
}
.trending_img_box .box_1{
    margin-top: 30px;
}
.trending_img_box img{
    width: 80%;
    margin: 20px;
    box-shadow: 5px 5px 8px;
}
/* categories section end*/

/* Latest collection start*/
.new_collection_section{
    padding-top: 50px;
}
.discount_text{
    text-align: center;
}
.discount_text h1{
    font-weight: 300;
    padding-bottom: 20px;
}
.discount_text .new_collection_highlighted{
    display: inline-block;
    color: #24d278;
    font-size: 40px;
}
.discount_features_img {
    padding: 50px 20px;

}
.discount_features_img img{
    width: 100%;
}
/* Latest collection end*/

/* featured__brands start */
.featured__brands{
    margin: 70px 20px;
    text-align: center;
}
.featured__brands > button {
    margin-top: 50px;
}
.featured__brands h1{
    left: 0 !important;
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: sans-serif;
    position: relative;
}
.featured__brands h1::before{
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    top: 50%;
    right: -5px;
    background-color: #24d278;
    transform: translate(100%, -50%);
}
/* featured__brands end */
.featured__brands .box{
    position: relative;
    text-align: center;
    background-color: #f1f1f2;
    padding: 75px 35px 10px 35px;
    margin: 30px 10px 0 10px;
    min-width: 225px;
}
.box:hover{
    background-color: #24d278;
}
.box:hover .price{
    color: rgb(57, 57, 57);
}

.box a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.645);
}
.details__box{
    padding-top: 30px;
}
.details__box h5{
    font-weight: 200;
}
.box a .price{
    color: #24d278;
}
.new_tag{
    position: absolute;
    background-color: black;
    color: white;
    padding: 4px 10px;
    top: 0;
    left: 0;
}

/* contact form start  */
.contact__section{
    margin: 70px 20px;
}
.contact__section h1{
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: sans-serif;
    position: relative;
}
.contact__section h1::before{
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    top: 50%;
    right: -5px;
    background-color: #24d278;
    transform: translate(100%, -50%);
}
.contact__section form{
    margin: 50px 0;
}
.contact__section input{
    margin: 10px 0;
    border: none;
    width: 100%;
    padding: 12px 7px;
    box-shadow: 1px 1px 5px 1px #e2e2e2;
}
.contact__section input[type="message"]{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.contact__section input::placeholder{
    color: black;
}
.contact__section input:focus{
    outline: none;
}
/* contact form end  */

 /* Testimonial section start */
 .testimonial_section{
    margin-top: 50px;
    margin-bottom: 100px;
 }
.testimonial_section h1{
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: sans-serif;
    position: relative;
    margin-bottom: 30px;
    margin-left: 20px;
}
.testimonial_section h1::before{
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    top: 50%;
    right: -5px;
    background-color: #24d278;
    transform: translate(100%, -50%);
}
.testimonial__card{
    padding: 40px 20px;
    margin: 20px;
    background-color:#f7f7f9;
    border-radius: 5px;
}
.body__text {
    position: relative;
    display: inline-block;
}
.body__text .green_arrow{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;    
}
.testimonial__card:hover{
    box-shadow: 1px 1px 5px 1px #e2e2e2;
}
.testimonial__card:hover .green_arrow{
    display: inline;
}
.testimonial__card:hover .arrow{
    visibility: hidden;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head_text_box{
    padding-left: 20px;
}
.head_text_box h3{
    font-size: 18px;
}
.body__text p{
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.625);
}
.head_text_box p{
    color: #24d278;
}

 /* Testimonial section end */

 /* footer section  */
 .footer__section{
    text-align: center;
 }
 .footer__section  .footer__info{
    background-color: #0f1521;
    color: white;
    padding: 50px 0;
 }
 .footer__info h2{
    font-size: 30px;
 }
 .footer__info hr{
    width: 80%;
    margin: 0 auto;
 }
 .info_contact > h3 , .info_info > h3{
    margin-bottom: 30px !important;
 }
 .info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
 }
 
 .contact{
    display: flex;
 }
 .contact div{
    width: 15px;
    height: 15px;
    margin-right:10px ;
 }
 .contact img{
    width: 100%;
 }
 
.info_info{
    margin:40px 0px ;
}
.info_info > p{
    margin: 0px 20px;
}
.info_insta{
    margin-bottom: 40px;
}
.info_insta h3{
    margin-bottom: 30px;
}
.info_insta img{
    margin: 5px 3px;
}
.info__newsLetter >h3{
    margin-bottom: 20px;
}
.info__newsLetter > input{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;

}
.sbc__btn{
    font-size: 20px !important;
    border-radius: 0% !important;
    padding: 4px 15px !important;
}
.icon__box{
    margin-top:20px;
}
.icon__box a{
    padding: 0px 10px;
}
.credit{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 30px 0;
}
.credit a{
    text-decoration: none;
}
 /* footer section  */
/******************** responsive part *********************/
/*play button responsive for tab*/
@media only screen and (min-width: 400px) and ( max-width: 767px) {
    .play__button {
    position: absolute;
    bottom: 45%;
    left: 46%;

}
}
