header{
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
nav .logo img{
    margin-top:20px ;
    padding-left:15px ;
    width: 80%;
}
.nav-toggler{
    border: none;
    background-color: transparent;
}
.nav-toggler  img{
    height: 50px;
    width: 50px;
}
.link__container .nav__link{
    text-align: center;
    /* display: none; */
}
.link__container .nav__link ul {
    padding: 0;
    list-style-type:none;
}
.link__container .nav__link li{
    padding: 10px 0px;
    font-size: 17px;
}
.link__container .nav__link li:active{
    color: green;
}
.nav__right{
    visibility: hidden;
}

.card__info{
    text-align: center;
    padding-bottom: 80px;
}
.card__info h1{
    color: #27cd77;
    font-weight: 400;
    font-size: 30px;
}
.card__info h1 > span{
    color: rgba(0, 0, 0, 0.808);font-weight: 400;
    font-size: 40px;
}
.card__info p{
    padding: 15px 10px 10px;
}
.card__info button{
    color: white;
    background-color: #27cd77;
    padding: 7px 20px;
    border: none;
    border-radius: 20px;
    margin: 5px;
    font-weight: 400;
    font-size: 16px;
}
.card__info .contact_btn{
    background-color: rgba(0, 0, 0, 0.87);
}

.card__img {
    padding: 80px 20px;
    background-color: #27cd77;
}
.carousel__box{
    position: relative;
}
.play__button{
    position: absolute;
    bottom: 53%;
    left: 41%;
    border: 0px solid #27cd77;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #ffffff;
    animation: animate 1s linear infinite;

}
@keyframes animate {

    0% {
        outline: 1px solid #27cd77;
        transition: border-width 0.1s ease;
    }
    100% {
        outline: 15px solid #27cd77;
        transition: border-width 0.1s ease-out;
    }
}
.play__button img {
    height: 20px;
    width: 15px;
}